.row
  .col-md-8.col-md-offset-2
    %br
    %br
    %h1 Modify Deliverable
    %br
    %br

    = form_for([@project, @deliverable]) do |f|
      = f.label :title
      = f.text_field :title, class: "form-control"

      = f.label :description
      = f.text_area :description, rows: "6", class: "form-control"

      = f.label :timebox
      = f.date_field :timebox, :order => [:month, :day, :year], class: "form-control"

      = f.submit "Update Deliverable", class: "btn btn-default"
      %br
      %br
:javascript
  bkLib.onDomLoaded(nicEditors.allTextAreas);
