.page-header
  %h1
    Dashboard
    %small= current_user.name
    %small.pull-right= link_to "Create Project", new_project_path, id: "new-project"
- if !@projects.empty?
  %h3 Projects
  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Client
        %th Description
        %th Deadline
        %th Status
    %tbody
      %tr
        - @projects.each do |p|
          .project
            %td
              = link_to p.title, project_path(p)
            %td= p.client
            %td= p.description.truncate(20)
            %td= p.deadline
            -if p.active?
              %td Active
            -else
              %td Finished
