
.grid-items
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}
      %h1 Grid Item
      %p Lorem ipsum dolor sit amet, elit. Rem, illum.
  %a.grid-item.grid-item-big.grid-item-image{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}
      %h1 Grid Item With an Image
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem, illum.
  %a.grid-item.grid-item-big{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}
      %h1 Another Wide Item
      %p Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Rem, illum.
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}
      %h1 Last Grid Item
      %p Lorem ipsum dolor sit amet, elit. Rem, illum.
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png"}
      %h1 Last Grid Item
      %p Lorem ipsum dolor sit amet, elit. Rem, illum.
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3.png"}
      %h1 A Grid Item
      %p Lorem ipsum dolor sit amet, elit. Rem, illum.
  %a.grid-item{:href => "javascript:void(0)"}
    %img{:alt => "", :src => "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png"}
      %h1 Item
      %p Lorem ipsum dolor sit amet, elit. Rem, illum.




.page-header
  %h1
    = @project.title
    %small= @project.client
    .pull-right
      %small= link_to "Edit |", edit_project_path(@project)
      %small= link_to "Delete", project_path(@project), method: :delete

=link_to "Add Deliverable", new_project_deliverable_path(@project)



%table.table.table-striped
  %thead
    %tr
      %th Deliverable
      %th Timebox
  %tbody
    -@project.deliverables.each do |deliverable|
      %tr
        %td= link_to deliverable.title, project_deliverable_path(@project, deliverable)
        %td= deliverable.timebox
