!!!
%html
  %head
    %title CreativeStory
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{:role => "navagation"}
      .container-fluid
        .navbar-header
          %button{:type => "button", :class => "navbar-toggle collapsed", "data-toggle" => "collapse", "data-target" => ".navbar-collapse"}
            %span.sr-only Toggle Navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a= link_to "Creative Story", root_path, class: "navbar-brand"

        .collapse.navbar-collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{:href => "#"}Link
            %li
              %a{:href => "#"}Link
          %ul.nav.navbar-nav.navbar-right
            %li
              -if current_user
                =link_to "Sign Out", destroy_user_session_path, method: :delete
              -else
                =link_to "Sign In", new_user_session_path

    .container
      .flash
        - flash.each do |name, msg|
          %div{ :class => "alert alert-#{flash_class name}" }
            %a.close{ "data-dismiss" => "alert" } &times;
            %div{ :id => "flash_#{flash_class name}" }
              = msg

    .container
      = yield


    
